table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse; /* collapse */
}
th, td {
    border: 1px solid #aaa;
    padding: 12px;
    text-align: center; /* center */
}
th {
    background-color: #007BFF;
    color: white;
}
/* Zebra striping */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
